/* maplibre-gl */
@import 'maplibre-gl/dist/maplibre-gl.css';
@import 'maplibre-react-components/style.css';

/* fonts */
@import 'assets/fonts/inter/inter.css';

/* scroll bar */
@import 'simplebar-react/dist/simplebar.min.css';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

/* google-fonts */
/* Preload critical fonts (for example, Roboto) to reduce FOUC.
(In a real app, you might add a <link rel="preload" as="font" href="..." crossorigin="anonymous" /> tag in your HTML (or via a plugin) for each critical font.)
(Below is a dummy example – replace with your actual font URLs if needed.)
<link rel="preload" as="font" href="https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2" crossorigin="anonymous" /> */

@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/700.css';

@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/inter/700.css';

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

@import '@fontsource/public-sans/400.css';
@import '@fontsource/public-sans/500.css';
@import '@fontsource/public-sans/600.css';
@import '@fontsource/public-sans/700.css';

/* tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

.maplibregl-popup-content {
  border-radius: 12px !important;
  padding: 0 !important;
}

.maplibregl-popup-tip {
  margin-top: -1px !important;
}

html[data-color-scheme='dark'] .maplibregl-popup-tip {
  border-top-color: #212946 !important;
}

html[data-color-scheme='dark'] .maplibregl-popup-anchor-top .maplibregl-popup-tip {
  border-bottom-color: #212946 !important;
}
